@media(prefers-color-scheme: dark) {
    .logo::after {
        content: url(../img/svg/logo-dark.svg);
    }

    :root {
        --second-color: #FFFFFF;
        --dots: #EBEBEB;
        --body: #151437;
    }

    .nav__link:hover {
        color: #fff;
    }

    .all-btn:hover {
        color: var(--main-color);
    }

    .menu__btn::before,
    .menu__btn::after,
    .menu__btn {
        background: #fff;
    }

    .about__work {
        background: var(--main-color);
    }

    .accordion-button {
        background: var(--body);
    }

    .list-group-item {
        box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    }

    .footer__link {
        color: #fff;
    }

    .footer__link:hover {
        color: var(--main-color);
    }
}

@media(max-width:1200px) {

    .my-work::before,
    .about::before {
        display: none;
    }
}

@media(max-width:991px) {
    .header__nav-btn {
        margin-right: 0;
    }

    .header__list {
        row-gap: 15px;
        padding-top: 30px;
    }
    .my-work::after,
    .header__bottom::after,
    .header__bottom::before,
    .header__nav:after,
    .header__nav:before {
        display: none;
    }
}

@media(max-width:425px) {
    .header__title {
        font-size: 28px;
        line-height: 33px;
    }

    .header__content-btn {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .about__img img {
        width: 100%;
    }

    .about__title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .about__txt {
        font-size: 16px;
        line-height: 140%;
        text-align: justify;
    }

    .about__btn {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .about__work {
        font-size: 16px;
        line-height: 80%;
        padding: 18px 25px;
    }

    .about__work::before {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .my-works__tab-title,
    .my-works__image {
        text-align: center;
    }

    .footer__link {
        font-size: 20px;
    }

    .footer__contacts {
        flex-wrap: wrap;
    }

    .footer {
        padding-top: 40px;
    }
}

@media(max-width:375px) {
    .my-works__tab-txt {
        text-align: justify;
        font-size: 17px;
    }

    .my-work__tab-btn {
        width: 100%;
        text-align: center;
    }
}